<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Find-Restaurant</title>
    <header class = "main-header">
        <nav class = "main-header__nav">
            <ul class="main-header__item-list">
                <li class="main-header__item"><a href = "/">Add Restaurants</a></li>
                <li class="main-header__item"><a href = "/restaurant">Find Restaurants</a></li>
                <li class="main-header__item"><a href = "/delete">Delete Restaurants</a></li>
            </ul>
        </nav>
    </header>
</head>
<body>
    <main>
        <form class="restaurant-form" action="/restaurant" method="POST">
            <div class="form-control">
                <label for="name">Category</label><br>
                <input type="text" name="category" id="category" placeholder="Type here...">
            </div>
            <div class="form-control">
                <label for="name">Order Priority</label><br>
                <input type="text" name="orderPriority" id="orderPriority" placeholder="Type here...">
            </div>
            <div class="form-control">
                <label for="name">Distance Limit</label><br>
                <input type="text" name="distanceLimit" id="distanceLimit" placeholder="Type here...">
            </div>
            <div class="form-control">
                <label for="name">Position</label><br>
                <input type="number" name="position" id="position" placeholder="Type here...">
            </div>
            <button class="btn" type="submit">Submit</button>
        </form>
    </main>
</body>
</html>